img#modal-product-image {
  width: 80%;
  max-height: 310px;
  margin-top: 6%;
}

button#modal-product-btn {
  height: 40px;
  width: 50%;
  border-radius: 3px;
  letter-spacing: 2px;
  font-size: 12px;
  background-color: #fff;
  border: 3px solid #a57967;
  color: #a57967;
  font-weight: bolder;
  margin-left: 0;
  margin-top: 20px;
}

button#modal-product-btn:hover {
  background-color: #a57967;
  color: #fff;
}

button#modal-product-btn {
  font-size: 10px;
  width: 65%;
}

img#modal-product-image {
  margin-top: 0;
  width: 25%;
}
